{% extends "layout.html" %}
{% block content %}
    <h2>About Us</h2>
        <p>Welcome to [Your Platform’s Name] – a space for ideas, stories, and perspectives. Our platform was born from the desire to provide writers, thinkers, and creators with a place to share their insights with a curious and engaged community. Whether you’re here to read, write, or simply explore, we’re dedicated to building a platform where everyone feels inspired to express their thoughts and discover new ones.</p>
        <p>Our mission is simple: to make content sharing accessible, engaging, and impactful. We believe that every voice matters and that sharing knowledge, experiences, and creativity enriches us all. From personal reflections and expert insights to unique experiences and diverse viewpoints, we aim to bring a wide range of content to a diverse audience.</p>
        <p>On this Blogpost Platform you’ll find:</p>

        <ul>
            <li><p>A Community of Creators: Our platform is built on the creativity and passion of our contributors.</p></li>
            <li><p>Diverse Topics: From tech and travel to lifestyle and personal growth, we offer a range of topics for readers of all interests.</p></li>
            <li><p>User-Friendly Experience: We prioritize simplicity and accessibility, making it easy for writers to publish and for readers to explore.</p></li>
        </ul>
        <ul>
            <li><a href="https://www.linkedin.com/in/zeinu-kedir-426025222/">LinkedIn</a></li>
            <li><a href="https://github.com/SUBANUM63">GitHub</a></li>
            <li><a href="https://twitter.com/zeinukedir3">Twitter</a></li>
        </ul>
        <p><a href="https://github.com/SUBANUM63/Blog-Platform">GitHub Repository</a></p>
        <video controls>
            <source src="static/image/video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
{% endblock content %}
